<script type="text/javascript" src="/js/dashBoard/animationController.js"></script>
<div class="row">

    <div class="col-md-3">
        <h3>All Inventory</h3>
        <p>Check the entire inventory</p>
        <p><a class="btn btn-outline-dark" role="button" href="/table/allItems" role="button">View Details &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Low Inventory</h3>
        <p>Check low inventory items</p>
        <p><a class="btn btn-outline-dark" href="/table/lowItems" role="button">View Details &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>To Be Removed</h3>
        <p>Check expiring items</p>
        <p><a class="btn btn-outline-dark" href="/table/lowItems" role="button" href="/table/expiredItems" role="button">View Details &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Add Item</h3>
        <p>Add a new item</p>
        <p><a class="btn btn-outline-dark" role="button" href="/addItems" role="button">View Details &raquo;</a></p>
    </div>
</div>