<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Inventory System</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

</head>

<body>



  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Inventory System</h1>
        <p></p>.
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Possibile Link to Other Info &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Low Inventory</h2>
          <p>This is a space for a description (if we want any)!! </p>
          <p><a class="btn btn-secondary" href="#" role="button">View Details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>About to Expire</h2>
          <p>This is a space for a description (if we want any)!! </p>
          <p><a class="btn btn-secondary" href="#" role="button">View Details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Reports</h2>
          <p>This is a space for a description (if we want any)!!</p>
          <p><a class="btn btn-secondary" href="#" role="button">View Details &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Search Inventory</h2>
            <p>This is a space for a description (if we want any)!! </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Quick Search</h2>
            <p>This is a space for a description (if we want any)!! </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>History</h2>
            <p>This is a space for a description (if we want any)!!</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>Saved Searches</h2>
              <p>This is a space for a description (if we want any)!! </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Deleted Items</h2>
              <p>This is a space for a description (if we want any)!! </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>This is a space for a description (if we want any)!!</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
          </div>

      <hr>

    </div> 

  </main>

  <footer class="container">
    <p>&copy; Grindewald 2018</p>
  </footer>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>